        footer {
            background: rgb(0, 0, 0);
            padding: 50px 8% 20px;
            border-top: 1px solid #333;
            position: relative;
            top: 0;
            z-index: 100;
        }

        .footer-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 40px;
            margin-bottom: 40px;
        }

        .footer-col h3 {
            font-size: 24px;
            margin-bottom: 20px;
            color: white;
        }

        .footer-col h3 span {
            color: orange;
        }

        .footer-col p {
            color: rgba(255, 255, 255, 0.484);
            margin-bottom: 10px;
        }

        .footer-col a {
            color: rgba(255, 255, 255, 0.484);
            text-decoration: none;
            display: block;
            
            margin-bottom: 10px;
            transition: 0.3s;
        }

        .footer-col a:hover {
            color: orange;
            padding-left: 8px;
        }

        .copyright {
            text-align: center;
            padding-top: 20px;
            border-top: 1px solid #222;
            color: #666;
        }

        .copyright p{
            color: rgba(255, 255, 255, 0.854);
        }
        .soocial {
            margin-top: 40px;
            display: flex;
            gap: 18px;
        }

        .soocial a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aaa;
            transition: 0.4s;
        }

        .soocial a:hover {
            background: linear-gradient(90deg, orange, black);
            color: #fff;
            transform: translateY(-10px);
        }
        .pl{
            font-size: 16px;
        }