

         #team {
            padding: 80px 8%;
            background: rgb(18, 18, 18);
            text-align: center;
            position: relative;
            top: 0;
            z-index: 100;
        }

        .team-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            margin-top: 50px;
        }

        .team-box {
        perspective: 500px;

            position: relative;
            overflow: hidden;
            border-radius: 10px;
        }

        .team-box img {
                    transform: rotateY(-5deg);

            width: 100%;
            height: 350px;
            object-fit: cover;
            display: block;
            transition: 0.5s;
        }

        .team-box:hover img {
            transform: scale(1.1);
            filter: brightness(0.7);
        }

        .team-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.8);
            padding: 15px;
            transform: translateY(100px);
            transition: 0.4s;
        }

        .team-box:hover .team-info {
            transform: translateY(0);
        }

        .team-info h4 {
            font-size: 20px;
            color: orange;
        }

        .team-info p {
            color: white;
            font-size: 14px;
        }