.contact {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000000000000;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(3px);
    /* gap:10px; */
}



.btn {
    width: 400px;
    position: relative;
    top: 0px;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    background: linear-gradient(135deg, orange, black);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    box-shadow: 0 0 20px 5px black, 0 0 30px 10px orange;
}

#contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 500px;
    /* border: 1px solid white; */
}

input,
textarea {
    /* position: relative; */
    /* left: 66%; */
    width: 400px;
    padding: 14px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    z-index: 100000000;
}




.contact a {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background: red;
    color: white;
    position: absolute;
    top: 100px;
    right: 20px;
}

.contact #i {
    position: relative;
    top: 7px;
}

@media (max-width: 480px) {

    input,
    textarea {
        width: 300px;

    }

    .btn {
        width: 300px;

    }

}

@media (max-width: 360px) {

    input,
    textarea,
    .btn {
        width: 200px;

    }
}